@media (max-width: 1153px) {
    .portfolio .portfolio-img > img{
        height: 200px ;
    }
    .portfolio .portfolio-img .subheading {
        width: 266.66px;
    }
    .header-nav li:not(:last-child) {
        margin-right: 35px;
    }
}
